# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local

# Tauri build
src-tauri/target

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

docs/

# claudecode related
.claude/
.agents/
.superpowers/

reference/
demo/
